.box
{
	overflow: hidden;
	padding: 10px;
	background-color: #000a;
	border-radius: 15px;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
	
	user-select: none;
}
.box ul
{
	margin: 10px;
}
.box a
{
	color: white;
}